@model Product

<h2>Product Added to Cart</h2>

<p>Product Details:</p>
<p>Name: @Model.Désignation</p>
<p>Price: @Model.Prix</p>
<p>Image: @Model.Image</p>
<p>Caracteristique: @Model.Quantite</p>

<p><a href="/Cart">View Cart</a></p>
